@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">URNA ELETRÔNICA</h1>
    
</div>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <style>
    
    .num{background-color:black; 
        color: white}
        .num:hover{color: #f1f1f1}
        .table {margin:0 auto;
        border : none}

    .n1{
        height: 30px;
        background-color:#fff;
        border:1px;
    }
    img{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 10px;
    }
</style>
</head>
<form >
      <div class="row">
        <div class="col-sm-3">
          
        </div>
        <div class="col-sm-6">
          	<div class="col-sm-6 well">
            
              <div class="form-group">
              <img src="https://www.gov.br/planalto/pt-br/conheca-a-presidencia/acervo/simbolos-nacionais/brasao-da-republica/brasaooficialcolorido.png" >
                <input class="form-control input-lg " id="n1" type="text" value="" name="voto" maxlength = 2 >
                <h2>Nome - SIGLA</h2>
                <h3>Vice</h3>
              </div>
            
            </div>
            
            <div class="col-sm-6">
                <table class="table">
                  <tr>
                    <th><button type="button" class="btn num" onclick="if (document.getElementById('n1').value.length<2){ document.getElementById('n1').value +='1' }">1</button></th>
                    <th><button type="button" class="btn num" onclick="if (document.getElementById('n1').value.length<2){ document.getElementById('n1').value +='2' }">2</button></th>
                    <th><button type="button" class="btn num" onclick="if (document.getElementById('n1').value.length<2){ document.getElementById('n1').value +='3' }">3</button></th>
                  </tr>
   	              <tr>
                    <th><button type="button" class="btn num" onclick="if (document.getElementById('n1').value.length<2){ document.getElementById('n1').value +='4' }">4</button></th>
                    <th><button type="button" class="btn num" onclick="if (document.getElementById('n1').value.length<2){ document.getElementById('n1').value +='5' }">5</button></th>
                    <th><button type="button" class="btn num" onclick="if (document.getElementById('n1').value.length<2){ document.getElementById('n1').value +='6' }">6</button></th>
                  </tr>
                  <tr>
                    <th><button type="button" class="btn num" onclick="if (document.getElementById('n1').value.length<2){ document.getElementById('n1').value +='7' }">7</button></th>
                    <th><button type="button" class="btn num" onclick="if (document.getElementById('n1').value.length<2){ document.getElementById('n1').value +='8' }">8</button></th>
                    <th><button type="button" class="btn num" onclick="if (document.getElementById('n1').value.length<2){ document.getElementById('n1').value +='9' }">9</button></th>
                  </tr>
                  <tr>
                    <th></th>
                    <th><button type="button" class="btn num" onclick="if (document.getElementById('n1').value.length<2){ document.getElementById('n1').value +='0' }">0</button></th>
                    <th></th>
                  </tr>
                  <tr>
                    <th><button type="button" class="btn btn-default" onclick="branco()">Branco</button></th>
                    <th><button type="button" class="btn btn-danger" onclick="document.getElementById('n1').value='' ">Corrige</button></th>
                    <th><button type="button" class="btn btn-success" id="confirma" onclick="vota()">Confirma</button></th>
                  </tr>
                </table> 
            </div>
        </div>
        <div class="col-sm-3" id="s">
        Lula <label id="13"></label>
        <br/>
        Bolsonaro <label id="17"></label>
        <br/>
        Branco <label id="branco"></label>
        </div>
      </div>
      </form>
      <script>

      let lula = 0
      let bolso = 0
      let brancos = 0
        function vota() {
            if(document.getElementById('n1').value == 13 ){lula++
              document.getElementById("13").innerHTML = lula;
            }
            if(document.getElementById('n1').value == 17 ){bolso++
              document.getElementById("17").innerHTML = bolso;
            }
            document.getElementById('n1').value=''
        }
        function branco(){
        brancos++
        document.getElementById('branco').innerHTML = brancos;
        }
      </script>
     